$container-width:1000px;
$container-height:650px;
$bgColor:#c62f2f;
$base-font-color:#ccc;
@mixin range($width){
    vertical-align: middle;
    width:$width;
    -webkit-appearance: none;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    background-image: -webkit-linear-gradient($bgColor, $bgColor) ;
    background-color:#ccc;
    background-size: 0% 100%;
    height:5px;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 13px;
        width: 13px;
        margin-top: -1px; /*使滑块超出轨道部分的偏移量相等*/
        background: #ffffff; 
        border-radius: 50%; /*外观设置为圆形*/
        border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
        &:hover{
            box-shadow: 0 0 .125em #666; /*添加底部阴影*/
    
        }
        
}
}

