@import "component/_theme.scss";
.playlist-detail{
    
    padding:20px;
    .info{
        @include flexBox();
        position: relative;
        .count{
            font-size: 12px;
            font-family: monospace;
            color:#999;
           
            position: absolute;
            right:0;
            top:3px;
            @include flexBox();
            .total{
                &:first-child{
                    border-right:1px solid #eee;
    
                }
                padding:5px;
                line-height: 1.4;
            }
        }
    }
    .desc{
        @include text-overflow-ellipsis($line:2)
    }
    .right{
        margin-left:20px;
        .title{
            width:450px;
            .type{
                color:#c62f2f;
                border:1px solid #c62f2f;
                border-radius: 3px;
                font-size: 12px;
                line-height: 40px;
                vertical-align: top;
                padding:0 3px;
            }
            .name{
                display: inline-block;
                margin-left:10px;
                font-size: 25px;
                color:#333;
                line-height: 40px;
                vertical-align: -webkit-baseline-middle;
                width:375px;
                @include text-overflow-ellipsis();
            }
        }
        .creator{
            img{
                border-radius: 50%;
                vertical-align: middle;
            }
            .nickname{
                margin-left:10px;
                font-size: 14px;
                color:#444;
            }
            .create-time{
                margin-left:10px;
                font-size: 12px;
            }
        }
        .play-all{
            height:40px;
            margin-top:10px;
            background: #c62f2f;
            width:120px;
            height:30px;
            line-height: 30px;
            border-radius: 5px;
            color:#fff;
            font-size: 14px;
            overflow: hidden;
            .play{
                display: inline-block;
                width:90px;
                height: 30px;
                cursor: pointer;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                font-family: monospace;
                font-size: 14px;
                &:hover{

                    background: #b12323;
                    cursor: pointer;
                }
            }
            
            .add{
                font-size: 20px;
                display: inline-block;
                width:30px;
                font-family: monospace;
                text-align: center;
                line-height: 30px;
                vertical-align: -1px;

                border-left: 1px solid #b83838;
                &:hover{
                    background: #b12323;
                    cursor: pointer;
                }
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .iconfont{
                margin-left:5px;
                margin-right: 5px;
            }
            
        }
        .tag{
            font-size: 12px;
            color:#333;
            font-family: monospace;
            margin-top:10px;
            span{
                color:#0a63a8;
                margin-left:10px;
            }
        }
        .desc{
            font-family: monospace;
            color:#333;
            font-size: 12px;
            margin-top:5px;
            span{
                color:#666;
                font-family: monospace;
                line-height: 1.6;
            }
        }
    }
    .detail{
        margin-top:20px;
        .list-table{
            font-family: monospace;
            font-size: 12px;
            table-layout: fixed;
            border-collapse: collapse;
            p{
                padding:10px 5px;

            }
            .key{
                width:50px;
               

            }
            .opr{
               
            }
            .name{
               width:250px;
                @include text-overflow-ellipsis();
                color:#000;
                font-family: monospace;
               
            }
            .artist{
                width:180px;
                @include text-overflow-ellipsis();
                
                a{
                    color:#0a63a8;
                    margin-left:5px;
                    font-family: monospace;
                }
               
            }
            .album{
                width:180px;
                @include text-overflow-ellipsis();
                a{
                    font-family: monospace;
                }
                
               
            }
            tr{
                cursor: pointer;
              &:nth-child(even){
                  background: #f5f5f5;
              }
              &:hover{
                  background: #ebeced;

              }  
            }
            th{
                border:1px solid #e1e1e2;
                font-family: monospace;
                color:#666;
                &:first-child{
                    border-left:none;
                }
                &:last-child{
                    border-right:none;
                }
               
            }
        }
    }
    .comment{
        width:100%;

        .rc-pagination-item-active{
            background-color:transparent;
            border-color:transparent;
            
        }
     .rc-pagination-item-active a{
            color:#c20c0c;
        }
        .rc-pagination-item:hover{
            border-color:transparent;
            background: none;
        }
        .rc-pagination-item:hover{
            border: 1px solid #d9d9d9;
            background-color: #fff;
        }
        .rc-pagination-item-active:hover a{
            color:#fff;
        }
        .rc-pagination {
            text-align: right;
        }
        .title{
            width:860px;
            margin-left:60px;
            margin-top:40px;
            height:33px;
            font-size:20px;
            border-bottom: 2px solid #c20c0c;
            .sub{
                color:#666;
                font-size: 14px;
            }
        }
        .sub-title{
            height: 25px;
            border-bottom: 1px solid #e1e1e2;
            color:#000;
            font-size: 14px;
            margin-top:15px;
            margin-bottom:15px;
        }
        .comment-list{

            overflow: hidden;
            .comment-item{
               
                line-height: 1.4;
                padding:10px 0;
                @include flexBox($justify:flex-start,$align:flex-start);
                border-bottom:1px solid #e1e1e2;
                img{
                    border-radius: 50%;
                }
                .user-link{
                    color:rgb(10,99,168);
                }
                .detail{
                    width:815px;
                    .con{
                        img{
                            vertical-align: middle;
                        }
                    }
                    margin-left:10px;
                    font-size:12px;
                    margin-top:0;
                    P:last-child{
                        margin-top:5px;
                        color:#999;
                        width:100%;
                    }
                    .pub-time{
                        width:500px;
                        @include flexBox($justify:space-between);
                    }
                    .rep{
                        background: rgb(241,241,241);
                        line-height: 1.4;
                        margin-top: 10px;
                        padding:10px;
                    }
                }
            }
        }
    }
    .collect-list{
        @include flexBox($justify:flex-start,$wrap:wrap);
        margin-top:20px;
        overflow: hidden;
        .collect-item{
            text-align: center;
            width:20%;
            &:nth-child(n+5){
                margin-top:15px;
            }
            img{
                border-radius: 50%;
            }
            .nickname{
                color:#333;
                font-family: monospace;
                margin-top:5px;
            }
        }
    }
    .rc-tabs-top{
        border-bottom: 0;
    }
}
