
@import "component/_theme.scss";
.vedio{
    padding:14px;
    overflow: hidden;
    .infinite{
        height:520px;
        overflow: auto;
    }
    .vedio-list{
        @include flexBox($align:flex-start,$justify:flex-start,$wrap:wrap);
        .rec-item{
            width:32%;
            margin-right:15px;
            overflow: hidden;
            margin-bottom: 20px;
            &:last-child,&:nth-child(3n){
                margin-right: 0;
            }
            .desc{
                width: 230px;
                @include text-overflow-ellipsis(1);
                color:#333;
                font-size: 12px;
                font-family: monospace;
                margin-top:10px;
            }
            .creator{
                font-size: 12px;
                color:#999;
                font-family: monospace;
                margin-top:5px;
                @include text-overflow-ellipsis(1);
                width:250px;
            }
            .relative{
                position: relative;
                &:hover{
                    .reason{
                        transition-delay: 1s;
                        transform:translateY(0);
                        transition-property:transform;
                        transition-duration: .3s;
                    }
                    /* .play{
                        display:block;
                        &:hover{
                            .iconfont{
                                background:rgba(52,66,60,.7);
                                transition:all .3s;
                            }
                        }
                    } */
                }
            }
            .listens{
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
                position: absolute;
                width: 100%;
                padding: 5px;
                text-align: right;
                top: 0;
                left: 0;
                color: #fff;
                font-size: 12px;
                .iconfont{
                        font-size: 16px;
                        vertical-align: middle;
                        margin-right: 4px;
                    
                }
            }
            .play{
                display: none;
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -15px;
                margin-top: -15px;
                .iconfont{
                    font-size: 30px;
                    color: #fff;
                    background: rgba(52, 66, 60, 0.5);
                    border-radius: 50%;
                }
            }
            img{
                width:100%;
                display: block;
                height:130px;

            }
        }
    }
}